<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<nav class="navbar is-link is-fixed-top" role="navigation" aria-label="main navigation" th:fragment="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item is-flex-wrap" th:href="@{/}">
                <img src="/img/savon.jpeg" class="image logo" alt="">
                <div class="navbar-brand-name">
                    <span class="has-text-weight-bold" th:text="#{app.name}"></span>
                    <br>
                    <span th:text="#{app.subname}"></span>
                </div>
            </a>
            <span role="button" id="burger-mobile-menu" class="navbar-burger burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
            </span>
        </div>
        <div id="nav-menu" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item"
                   th:href="@{/}"
                   th:text="#{navbar.products}">
                </a>

                <a class="navbar-item"
                   th:href="@{/tableau-de-bord}"
                   th:classappend="${#strings.startsWith(@request.url, '/tableau-de-bord') && @request.url != '/tableau-de-bord/mon-profil' && @request.url != '/tableau-de-bord/offres' && @request.url != '/tableau-de-bord/calendriers' ? 'is-active' : ''}"
                   th:text="#{navbar.dashboard}">
                </a>

                <span class="navbar-item" sec:authorize="!isAuthenticated()">
							<a th:href="@{/login}"
                               th:classappend="${@request.url == '/login' ? 'is-active':''}" class="button is-link">
								 <span class="icon">
									<i class="fas fa-sign-in-alt"></i>
								 </span>
								<span th:text="#{navbar.login}"></span>
							</a>
						</span>
                <span class="navbar-item" sec:authorize="isAuthenticated()">
							<a th:href="@{/logout}"
                               class="button is-link is-inverted">
								<span class="icon">
									<i class="fas fa-sign-out-alt"></i>
								</span>
								<span th:text="#{navbar.logout}"></span>
							</a>
						</span>
            </div>
        </div>
    </div>
</nav>
</body>
</html>